.card-container {
  width: 100%;

  &:hover {
    img {
      transform: scale(0.85);
      transition: box-shadow, transform 0.5s ease;
      background-color: rgba(251, 251, 251, 0.15);
    }
  }
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
}

.image-content {
  position: relative;
  padding: 0.5rem 0;
}

.card-image {
  position: relative;
  height: 12rem;
  width: 10rem;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding-bottom: 1.5rem;
}

.card-name {
  font-size: 16px;
  color: #4e657b;

  height: 5rem;
}

.card-price {
  font-size: 18px;
  font-weight: 600;
  color: #333;

  text-align: center;
  height: 2.5rem;
}

.button {
  font-size: 18px;
  text-transform: capitalize;
  padding: 0.75rem 2.5rem;
  border-color: #93c5fd;
  border-width: 2px;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  border-style: solid;
  outline: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.button:hover {
  background: #93c5fd;
}
