.product-content {
  padding: 3rem 0;
  flex: 0 0 60%;
  max-width: 60%;
  position: relative;
  width: 100%;
  padding-top: 20px;
  min-width: 0;
}

.wrapper {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.title {
  border-bottom: 1px solid #d2ccd6;
  padding: 1.5rem 0 1rem 1rem;
  display: block;
}

.title h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title p {
  color: #a0a0a7;
  -webkit-text-stroke: thin;
}

.description {
  padding-top: 2rem;
  flex-wrap: 1;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.warranty {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.description span {
  font-size: 1.5rem;
  font-weight: 500;
}

.warranty p {
  color: #616161;
  margin-top: 1rem;
}

.order {
  margin: 2rem 0;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

.row {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.row span {
  margin-left: 1rem;
}

.price {
  display: flex;
  margin-top: 4rem;
  align-items: center;
}

.price p {
  font-size: 1.875rem;
  margin-right: 1rem;
  line-height: 1.5rem;
  color: #f43b86;
}

.button {
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 4rem;
}
