.card-container {
  width: 100%;

  &:hover {
    img {
      transform: scale(0.85);
      transition: box-shadow, transform 0.5s ease;
      background-color: rgba(251, 251, 251, 0.15);
    }
  }
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
}

.image-content {
  position: relative;
  padding: 0.5rem 0;
}

.card-image {
  position: relative;
  height: 12rem;
  width: 10rem;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding-bottom: 1.5rem;
}

.card-name {
  font-size: 16px;
  color: #4e657b;

  height: 5rem;
}

.card-price {
  font-size: 18px;
  font-weight: 600;
  color: #333;

  text-align: center;
  height: 2.5rem;
}
