.footer {
  background-color: rgb(223, 223, 238);
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 6rem;
}

.footer-main {
  position: relative;
}

.copyright {
  padding: 1rem 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
