.button {
  font-size: 18px;
  text-transform: capitalize;
  padding: 0.75rem 2.5rem;
  border-color: #93c5fd;
  border-width: 2px;
  border-radius: 0.75rem;
  background-color: transparent;
  background-image: none;
  border-style: solid;
  outline: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.active:hover {
  cursor: pointer;
  background: #93c5fd;
}

.inactive {
  background-color: #93c5fd;
}
